# Source Target FSType Flags CryptName Parallel
/dev/sdb1 /mnt/sdb1 xfs defaults none 1
/dev/sdc1 /mnt/sdc1 xfs defaults sdc1 1

# Merged
/mnt/sdb1:/mnt/sdc1 /mnt/merged mergerfs config=/etc/mergerfs.ini,allow_other,use_ino,fsname=merged none 0